*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #E6E1C2;
}

#Peru{
    width: 10vw;
    height: 12vh;
    position: absolute;
    top: 0px;
}

#Name{
    font-family: "Abril Fatface";
    color: #191970;
    border-left: 3px #1D01FD;
    font-size: 1.7vw;
    position: absolute;
    padding-top: 3vh;
    width: 27vw;
    padding-top: 15px;
    height: 12vh;
    left: 10vw;
    background-color: lightslategrey;
}

#logo{
    position: absolute;
    top: 18vh;
    left: 1vw;
    height: 45vh;
    width: 33vw;
}

#logo img{
    width: 100%;
    height: 100%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

#navbar{
    position: absolute;
    padding-top: 1.5vh;
    left: 34vw;
    height: 12vh;
    width: 66vw;
    font-size: 2.32vw;
    align-items: center;
    background-color: lightslategrey;
}

#navbar ul{
    list-style: none;
    overflow: hidden;
}

#navbar li{
    float: left;
    justify-content: space-around;
}

#navbar li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 2vw;
    color: black;
}

#navbar li a:hover{
    color: white;
    text-decoration: underline;
}

#thin{
    background-color: #191970;
    position: absolute;
    top: 12vh;
    height: 35px;
    width: 100vw;
    padding-top: 6px;
    padding-left: 2vw;
    color: white;
    font-size: 20px;
}

#title{
    position: absolute;
    top: 21vh;
    font-weight: bold;
    color: black;
    font-size: 2.5vw;
    left: 20vw;
    text-align: center;
}

.container{
    position: absolute;
    top: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 100px;
}

.year{
    height: fit-content;
    width: fit-content;
    font-size: 36px;
    color: black;
    padding-bottom: 10px;
    margin-left: 10vw;
    border-style: solid;
}

.eventTitle{
    height: fit-content;
    width: 90vw;
    font-size: 2vw;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7vw;
}

.programa{
    height: fit-content;
    width: 90vw;
    font-size: 2.5vw;
    font-style: italic;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9vw;
}

.day{
    height: fit-content;
    width: 90vw;
    font-size: 2.5vw;
    font-style: italic;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 11vw;
    text-decoration: underline;
}

.event{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    width: 80vw;
    margin-left: 13vw;
    margin-top: 1vh;
    font-size: 2.5vw;
    font-style: italic;
    color: white;
    background-color: #191970;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1vw;
}

.event a{
   color: white; 
}

.event .time{
    width: fit-content;
    padding-left: 1vw;
}

.event .info{
    width: fit-content;
    height: fit-content;
    padding-right: 1vw;
}

.location{
    height: fit-content;
    width: 60vw;
    margin-left: 12vw;
    margin-top: 1vh;
    font-size: 2.5vw;
    font-style: italic;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1vw;
}

